
h1 {
    color: red;
    text-align: center;
}
p {
    color: green;
}
button{
    color: rgb(212, 107, 27);
    background-color: yellowgreen;
}

body{
    background-color: rgb(81, 59, 191);
}
/* *{
    color: coral;
} */
 #Heading{
    text-align: left;
    color: chocolate;
 }
 .myClass{
    color: yellow;
 }